user_uuid = "882962ea-7a44-4d6f-9646-b8c6f89c09e7"
bucket_name="jddned8374hfoediw93"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content-version=1